@mixin screen-max($max) {
  @media (max-width: $max) {
    @content;
  }
}

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$primary-color: #bd93f9;


::root {
    font-family: 'Rubik', sans-serif;
    line-height: 1;

  }



  /*  html5resetcss*/
  *, ::before, ::after {box-sizing: border-box; margin: 0;padding: 0;}
  body{line-height:1;}
  html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,abbr,address,code,del,dfn,em,img,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent}
  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display: block;}
  nav ul{list-style: none;}
  a{text-decoration: none;color: #000080;padding: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
  table{border-collapse: collapse;border-spacing: 0;}
  input,select{vertical-align: middle;}

  body {
    color: #bd93f9;
    font-family: cursor, monospace;
    overflow-x: hidden;
  }
  ::selection {
    color: #211830;
    background-color: #bd93f9;
  }

  *:focus {
    border: #bd93f9 .0625rem solid ;
    border-radius: .625rem;
  }

  .page {
    background: #282a36;
  }

  .header {
    background: linear-gradient(180deg, #00000043 0%, rgba(23, 23, 31, 0.047) 100%);
    padding: 1.875rem 3.4375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .9375rem;
    color: #fff;
  }

  .nav_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;

  }

  .nav_link a {
    color: #fff;
    font-size: .9375rem;
    &:hover {
      font-weight: 700;
    }
  }

  .logo {
    color: #fff;
    font-weight: 900;
    letter-spacing: .1875rem;
  }

  .smiley {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: radial-gradient(28.125rem at 50% 50%, rgba(28, 0, 138, 0.1), transparent 60%);
  }

  .section_hero {
    margin-top: 9.375rem;
    height: 80vh;
  }

  .social_item {
    width: 70px;
    position: relative;
    transform: translate(var(--tx, 0), var(--ty, 0));
    opacity: var(--opacity, 0.7);
    place-items: center;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }

  .social_item:hover,
  .social_item:focus-visible {
    opacity: 1;
  }

  .social__container {
    display: flex;
  }

  textarea {
    left: -1000px;
    position: absolute;
  }
  b {
    font-weight: bold;
    text-decoration: underline;
  }
  /* Cursor Start */
  .cursor {
    font-size: 12px;
    color: #ffb86c;
    background-color: #ffb86c;
    position: relative;
    opacity: 1;
    height: 1.5em;
    width: 10px;
    max-width: 10px;
    transform: translateY(4px);
    overflow: hidden;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  #command {
    cursor: text;
    height: 50px;
    color: #ffb86c;
  }
  #liner {
    line-height: 1.3em;
    margin-top: -2px;
    animation: show 0.5s ease forwards;
    animation-delay: 1.2s;
    opacity: 0;
  }
  #liner::before {
    content: "visitor@nasawi.com ❯❯❯ ";
    color: #ff79c6;
    font-weight: 700;
  }
  #liner.password::before {
    content: "Password:";
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Cursor End */
  p {
    display: block;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 0.03em;
    animation: typing 0.5s steps(30, end);
  }
  .no-animation {
    animation: typing 0 steps(30, end);
  }
  .margin {
    margin-left: 20px;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .index {
    color: #DCDCCC;
  }
  .color2 {
    color: #ffffff;
  }
  .command {
    color: #8be9fd;
    text-shadow: 0 0 5px #8be9fd;
  }
  .error {
    color: #ff5555;
  }
  .white {
    color: #fff;
  }

  .pink {
    color: #ff79c6;
    font-weight: 700;
  }

  .cyan {
    color: #8be9fd;
  }

  .purple {
    color: $primary-color;
  }
  .inherit,
  a {
    color: #ff5555;
  }
  a {
    text-decoration: inherit;
  }
  a:hover {
    color: $primary-color;
  }
  a:focus {
    outline: 0;
  }

  .ascii {
    color: rgb(255, 255, 255);
    background: none;
    display:inline-block;
    white-space:pre;
    letter-spacing:0;
    line-height:1.4;
    font-family:'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace;
    font-size: .75rem;
  }

  .container_terminal {
    border: .1rem solid $primary-color;
    border-radius: 10px;
    padding: 1.25rem;
    width: 60%;
    height: 50%;
    @include screen-max($screen-sm){
      width: 95%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social_item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro {
    @include screen-max($screen-sm){
      width: auto;
      white-space: normal;
    }
  }

